#file: noinspection SpellCheckingInspection
name: CI/CD

on:
  push:
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: ["master"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality:
    uses: ./.github/workflows/quality.yaml

  docker:
    needs: quality
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/docker.yaml

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
    needs: docker
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
