name: Auto approve

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: >
      github.event.pull_request.base.ref == github.event.repository.default_branch &&
      contains(
        format(',{0},', vars.AUTO_APPROVE_ACTORS),
        format(',{0},', github.event.pull_request.user.id)
      )
    steps:
      - uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363 # v4.0.0
