name: autofix.ci

on:
  pull_request:
    types: [opened, synchronize]
permissions:
  contents: read

jobs:
  autofix:
    name: Autofix Pull Request
    runs-on: ubuntu-latest
    if: github.base_ref == github.event.repository.default_branch

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # We need the full history for comparing branches
          ref: ${{ github.head_ref }}  # Check out the PR branch

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          cache: true

      - name: Setup Copywrite
        uses: hashicorp/setup-copywrite@32f9f1c86f661b8a51100768976a06f1b281a035  # v1.1.3

      - name: Install dependencies
        run: pdm install -d

      - name: Run linting
        run: pdm run lint

      - name: Run formatting
        run: pdm run format

      - name: Add license headers
        run: copywrite headers --config .copywrite.hcl

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
